        <li class="table-row">
            <div class="text-center"><img></div>
            <div class="text-center">
                <p>{{name}}</p>
            </div>
            <div class="text-center">
                <p>{{level}}</p>
            </div>
        </li>