
<tr class="table-row sendToBack-1">
    <td id="td-img"><img id="img-user-ranking" src="../images/default-user.jpg"></td>
    <td id="td-name">
        {{name}}
    </td>
    <td id="td-points">Points: {{score}}</td>
</tr>