
<tr class="table-row sendToBack-1">
    <td><img id="img-user-ranking" src="../images/default-user.jpg"></td>
    <td>
        {{name}}
        <td>Points: {{score}} PJ:{{attendedEvents.length}}</td>
    </td>
</tr>