<section id="footer">
    <div>
        <a herf="#">Invita a tus amigos</a>
    </div>
    <div>
        <a herf="#">¿Quienes somos?</a>
    </div>
    <div>
        <a herf="#">Ayuda</a>
    </div>
</section>