@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800;900&display=swap");
body {
  font-family: 'Lato', sans-serif;
}

body :-webkit-scrollbar {
  display: none;
}

h3 {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  font-size: 50px;
}

h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
}

/* card match */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 100px;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
  padding: 5px;
}

.card h1 {
  font-size: 1.5em;
  padding-bottom: 15px;
}

.card a {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: green;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  text-decoration: none;
}

/*Listado de partidos*/
.match {
  border-radius: 25px;
  border: 5px solid green;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.all-matches {
  display: flex;
  flex-direction: column;
}

#filter {
  width: auto;
  /* display: flex;
  flex-direction: row;
  flex-wrap: nowrap; */
  margin: 5px;
  margin-top: 20px;
  height: auto;
  align-items: center;
}

#filter label {
  text-transform: uppercase;
  padding: 5px;
}

.deporte {
  text-align: center;
  padding: 10px 10px 20px 0px;
}

.center {
  padding: 10px 10px 0px 0px;
}

.location {
  padding: 10px 10px 10px 0px;
}

.level {
  padding: 10px 10px 10px 0px;
}

.date {
  padding: 20px 10px 10px 5px;
}

.players {
  text-align: end;
  padding: 20px 10px 10px 0px;
}

.seeMore {
  padding: 20px 10px 20px 0px;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sendToBack0 {
  position: relative;
  z-index: 0;
}

.sendToBack-1 {
  position: relative;
  z-index: -1;
}

/*-------------------HOME PAGE-----------------------*/
/*-------------------SLIDER-------------------*/
.holster {
  height: 80vh;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

.container {
  display: flex;
  overflow: auto;
  flex: none;
}

.container.x {
  width: 100%;
  height: auto;
  flex-flow: row nowrap;
}

/* scroll-snap */
.x.mandatory-scroll-snapping {
  scroll-snap-type: x mandatory;
}

.container > div {
  text-align: center;
  scroll-snap-align: center;
  flex: none;
}

.container > td {
  text-align: center;
  scroll-snap-align: center;
  flex: none;
}

.x.container > div {
  width: 100%;
  height: auto;
}

.width-100vw {
  width: 100vw;
}

/*-------------HEADER--------------*/
#one {
  display: flex;
  flex-direction: column;
}

#header {
  background-image: url("../images/yellow-ball-is-laying-on-blue-tennis-court-carpet-with-professional-racket.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

#header #homePageTitle {
  color: white;
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 50px;
}

.padding-left {
  padding-left: 18px;
}

.text-weight-h1 {
  font-weight: 400;
  color: white;
  font-size: 25px;
  text-transform: uppercase;
}

.flex-row {
  display: flex;
  justify-content: space-around;
}

/*---------BTN------*/
.btn {
  background-color: #000000;
  box-shadow: 8px 8px 0 rgba(255, 255, 255, 0.5);
  letter-spacing: 0.3px;
  font-weight: bold;
  border-style: none;
  border-width: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  text-decoration: none;
  color: white;
}

.btnWhite {
  color: black;
  background-color: white;
}

.btn:hover {
  background-color: #136408;
}

.btnRedondo {
  background-color: #000000;
  letter-spacing: 0.3px;
  font-weight: bold;
  border-style: none;
  border-width: 0;
  padding: 1.5rem;
  text-decoration: none;
  color: white;
  border-radius: 50%;
}

.btnRedondo:hover {
  background-color: white;
  color: black;
}

/*----------RANKING-----------*/
#two {
  height: auto;
}

#two #ranking {
  display: flex;
  align-items: center;
  flex-direction: row;
}

#two #ranking h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

#table {
  width: 95vw;
  position: relative;
  left: 14px;
}

#td-title {
  width: 80vw;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#td-img {
  margin-left: 25px;
}

#td-points {
  margin-right: 25px;
}

#td-name {
  margin-right: 25px;
  margin-left: 25px;
  width: 70px;
}

.shadow-title-h1 {
  text-shadow: 1px 1px 0.5px rgba(0, 0, 0, 0.3);
}

.shadow-title-h2 {
  text-shadow: 4px 4px 0px rgba(170, 221, 79, 0.7);
}

.shadow-title-h3 {
  text-shadow: 1px 1px 0px rgba(170, 221, 79, 0.342);
}

.table-row {
  background-color: #EEEEEE;
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 10px 0;
}

table thead {
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 10px 0;
}

#img-user-ranking {
  height: 50px;
  width: 50px;
}

/*----------------VIDEO------------------*/
#three {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -100px;
}

#h3-video {
  font-size: 2rem;
  color: white;
  position: relative;
  top: 80vh;
  margin-left: 10px;
}

#video {
  width: 100vw;
  height: 100vh;
}

#btn-video {
  position: relative;
  top: 80vh;
  left: 32vw;
}

/*--------------MATCHES----------------------------------------------------*/
#headerMatches {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 15px 30px;
}

.noStyle {
  text-decoration: none;
  color: white;
}

.text-center {
  text-align: center;
}

.bottom-space {
  margin-bottom: 15px;
}

.bottom-space1 {
  margin-bottom: 80px;
}

.eightyVw {
  width: 80vw;
}

.top-space {
  margin-top: 20px;
}

.top-less-space {
  margin-top: 40px;
}

#login {
  background-image: url(../images/front-view-tennis-ball-on-court-ground-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: -10;
  background-position: 50% 50%;
}

#login::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

#loginForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  text-align: center;
}

#form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paint-div-input {
  background-color: rgba(255, 255, 255, 0.1);
}

.flex-row-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#inputsLogin {
  margin: 0;
  background-color: transparent;
  color: white;
  font-size: medium;
}

#imgLogin {
  margin: 10px;
}

#Registrate {
  color: #aadd4f;
}

.blanco-difuminado {
  color: rgba(255, 255, 255, 0.8);
}

.btn-login {
  width: 40vw;
  border: none;
  padding: 1em;
  outline: none;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  font-style: 1.2em;
  letter-spacing: 0.2em;
  position: relative;
  z-index: 1;
  cursor: pointer;
  background: none;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
}

.btn-login:before, .btn-login:after {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 5%;
  transform: translateX(-50%) translateY(-50%);
  width: 105%;
  height: 105%;
  content: '';
  z-index: -2;
  background-size: 400% 400%;
  background: #aadd4f;
}

.btn-login:before {
  filter: blur(3px);
  transition: all .25s ease;
  animation: pulse 10s infinite ease;
}

.btn-login:after {
  filter: blur(0.3px);
}

.btn-login:hover:before {
  width: 115%;
  height: 115%;
}
