
<section>
  {{> menu}}
</section>
<!-- The Modal -->
    <div id="id02" class="modal2">
      <!-- Modal Content -->
      <form class="modal-content2 animate" action="/" method="POST">
        <div class="container1">
          <label>
                <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">X</span>
          </label>
          <label for="email"><b>Email</b></label>
          <input type="email"  name="email" required>
          <label for="password"><b>Contraseña</b></label>
          <input type="password" name="password" required>
          <p>{{message}}</p>
          <button type="submit">Login</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>
        <div class="container1" style="background-color:#f1f1f1">
          <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancelar</button>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
      </form>
    </div>

<!-- The Modal (contains the Sign Up form) -->
    <div id="id01" class="modal">
      <form class="modal-content2 animate" action="/" method="POST">
        <div class="container">
          <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">X</span>
          <h4>Sign Up</h4>
          <hr>
          <label for="name"><b>Nombre</b></label>
          <input type="text" name="name" required>
          <label for="lastname"><b>Apellido</b></label>
          <input type="text" name="lastname" required>
          <label for="age"><b>Edad</b></label>
          <input type="number" name="age" required>
          <label for="country"><b>Pais</b></label>
          <input type="text" name="country" required value="Spain" readonly='readonly'>
          <label for="email"><b>Email</b></label>
          <input type="email" placeholder="together@gmail.com" name="email" required>
          <label for="username"><b>Usuario</b></label>
          <input type="text" name="username" required>
          <label for="password"><b>Contraseña</b></label>
          <input type="password" name="password" required>
          <label for="level"><b>Escoge tu nivel</b></label>
          <select id="level" name="level" required>
            <option value="Principiante">Principiante</option>
            <option value="Medio">Medio</option>
            <option value="Avanzado">Avanzado</option>
            <option value="Profesional">Profesional</option>
          </select>
          <div class="clearfix">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancelar</button>
            <button type="submit" class="signup">Sign Up</button>
          </div>
        </div>
      </form>
    </div>
      <section id="one">
      <div id="header">
        <h1 id="homePageTitle" class="padding-left shadow-title-h1">Reta y Gana a tus amigos</h1>
        <div class="flex-row top-space">
              <p class="text-weight-h1 shadow-title-h1">Empieza hoy</p>
              <a class="btnRedondo" href="/matches/newgame">-></a>  
        </div>
        
      </div>
      
      </section>
      <section id="two" class="holster">
    <h2 class="shadow-title-h2">Ranking</h2>
    <div id="ranking" class="container x mandatory-scroll-snapping">
      <div class="text-center">
        <h3 class="shadow-title-h3">Mejores Jugadores Tennis</h3>
      <table id="table">
      {{#each users}}  
      {{>bestPlayers}}
      {{/each}}
      </table>
    </div>
    <div class="text-center">
        <h3 class="shadow-title-h3">Mejores Jugadores Paddle</h3>
      <table id="table">
      {{#each users}}  
      {{>bestPlayers}}
      {{/each}}
      </table>
    </div>
    </div>
      </section>
      <section id="three">
        <h3 id="h3-video" class="shadow-title-h1 sendToBack">Empieza hoy a ganar partidos</h3>
        <a  id="btn-video" class="btnRedondo sendToBack" href="/matches/newgame">-></a>
      <video id="video" class="sendToBack" loop autoplay muted>
        <source src="../videos/mobile.mp4" type="video/mp4">
      </video>
      </section>


<footer>
  {{> footer}}
</footer>



