<div class="topnav" id="myTopnav">
  <a href="/index" class="active">Nombre aplicacion</a>
  {{#if currentUser}}
  <div class="dropdown">
    <button class="dropbtn">Deportes
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Padel</a>
      <a href="#">Tenis</a>
      <a href="#">Futbol</a>
    </div>
  </div>
  <a href="/matches/list">Mis partidos</a>
  <a href="/matches/newgame">Crear partido</a>
  <a href="/ranking">Ranking</a>
  <a href="/torneos">Torneos</a>
  <a href="/friends">Invita a tus amigos</a>
  <a href="/about">Conocenos</a>
  <a href="/config">Ajustes</a>
  <a href="/logout">Logout</a>
  {{else}}
    <a href="/auth/login">Iniciar sesion</a>
    <a href="/auth/signup">Hazte miembro</a>
    <div class="dropdown">
      <button class="dropbtn">Deportes
        <i class="fa fa-caret-down"></i>
      </button>
        <div class="dropdown-content">
          <a href="#">Padel</a>
          <a href="#">Tenis</a>
          <a href="#">Futbol</a>
        </div>
    </div>
    <a href="/about">Conocenos</a>
  {{/if}}
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>
<section class="">

</section>