<h2>FULLSTACK APPLICATION</h2>

<a href="/auth/login">Iniciar sesion</a><br>
<a href="/auth/signup">Hazte miembro</a><br>
<a href="/deportes">Deportes</a><br>
<a href="/ranking">Ranking</a><br>
<a href="/torneos">Torneos</a><br>
<a href="/friends">Invita a tus amigos</a><br>
<a href="/about">Conocenos</a>