<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Together</title>
  <link rel="stylesheet" href="/stylesheet/reset-style.css">
  <link rel="stylesheet" href="/stylesheet/menu/menu-style.css">
  <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
  {{{body}}}
</body>
<script src="/stylesheet/menu/style.js"></script>
</html>