<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Together</title>
  <link rel="stylesheet" href="/stylesheet/reset-style.css">
  <link rel="stylesheet" href="/stylesheet/menu/menu-style.css">
  <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
  {{{body}}}
</body>
<script src="/stylesheet/menu/style.js"></script>
{{!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> --}}
{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.0.0-beta.9/chart.esm.d.ts"></script>  --}}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.js"></script>
<script src="/js/chart.js"></script>
<script src="/js/location.js"></script>
</html>