<div>
 {{>menu}} 
</div>

<section id="header">
  <h1 class="text-center bottom-space">Todos los partido</h1>

<div id="headerMatches">
  <a class="noStyle btn bottom-space" href="/matches/mymatches">Mis Partidos</a>
  <a class="noStyle btn bottom-space" href="/matches/pendingmatches">Partidos pendientes</a>
  <a class="noStyle btn bottom-space" href="/matches/acceptedmatches">Partidos aceptados</a>
</div>

</section>

<h3 class="shadow-title-h3 bottom-space top-space">Encuentra los partidos</h3>
  <form id="filter" action="/matches" method="GET">
  <label for="location">location</label>
  <input type="text" name="location" id="location">
  <label for="level">level</label>
  <input type="text" name="level" id="level">
  <label for="esport">esport</label>
  <input type="text" name="esport" id="esport">
  <button class="sendToBack" type="submit">Filtrar</button>
  </form>


  <div class="matches">
    {{#if match}}
      {{#each match}}
          {{> matchesCard}}
      {{/each}}
    {{else}}
    {{#each matchfilter}}
      {{> matchesCard}}
    {{/each}}
    {{/if}}
  </div>







  <footer>
  {{> footer}}
</footer>
