

<div>
  {{>menu}} 
</div>
<section id="header">
<h1 class="text-center">Crea tu partido</h1>
</section>

<form id="filter" action="/matches/newgame" method="POST">
<input type="text" name="center" placeholder="center" required>
<input type="text" name="level" placeholder="level" required>
<input type="number" name="numberPlayers" placeholder="number of players" required>
<input type="text" name="location" placeholder="location" required>
<input type="text" name="esport" placeholder="esport" required>
<input type="date" name="date" placeholder="Date" required>
<input type="text" name="host" hidden>
<button class="sendToBack" type="submit">Crear partido</button>
<button class="bottom-space1 sendToBack" type="reset">Restablecer</button>
</form>

<footer>
  {{> footer}}
</footer>