


<form action="/matches/newgame" method="POST">
<input type="text" name="center" placeholder="center" required>
<input type="text" name="level" placeholder="level" required>
<input type="number" name="numberPlayers" placeholder="number of players" required>
<input type="text" name="location" placeholder="location" required>
<input type="text" name="esport" placeholder="esport" required>
<input type="date" name="date" placeholder="Date" required>
<input type="text" name="host" hidden>
<button type="submit">Crear partido</button>
<button type="reset">Restablecer</button>
</form>