  
<section>
    {{> menu}}
</section>
  
  <div class="matches">
    {{#if matches}}
      {{#each matches}}
        {{> matchesCard}}
      {{/each}}
    {{else}}
    <p>{{message}}</p>
    {{/if}}
  </div>
  <footer>
  {{> footer}}
</footer>