<section>
    {{> menu}}
</section>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'Perfil')">Perfil</button>
  <button class="tablinks" onclick="openTab(event, 'Paris')">Paris</button>
  <button class="tablinks" onclick="openTab(event, 'Tokyo')">Tokyo</button>
</div>

<!-- Tab content -->
<div id="Perfil" class="tabcontent">
<section>
    <p>Perfil</p>
    <hr>

    <p>Nombre y apellidos</p>
    <input type="text" name="name" id="name" placeholder="{{name}} {{lastname}}">

    <p>Email</p>
    <input type="email" name="email" id="email" placeholder="{{email}}">

    <p>Nivel</p>
    <select name="nivel" id="nivel">
        <option value="Principiante"></option>
        <option value="Principiante"></option>
        <option value="Principiante"></option>
        <option value="Principiante"></option>
    </select>
</section>
</div>

<div id="Paris" class="tabcontent">
  <h3>Paris</h3>
  <p>Paris is the capital of France.</p>
</div>

<div id="Tokyo" class="tabcontent">
  <h3>Tokyo</h3>
  <p>Tokyo is the capital of Japan.</p>
</div>
