<section id="login">
</section>

<section id="loginForm">
<h1>T🎾GETHER</h1>
<section id="signupForm" class="top-less-space">
<form action="/auth/signup" method="POST">
  <div id="loginDiv" class="flex-row-inputs paint-div-input bottom-space">
    {{!-- NAME --}}
    <input id="inputsLogin" type="text" name="name" required placeholder="NAME"><br>
    {{!-- LASTNAME --}}
    <input id="inputsLogin" type="text" name="lastname" required placeholder="LASTNAME"><br>
  </div>
  <div id="loginDiv" class="flex-row-inputs bottom-space paint-div-input">
    {{!-- AGE --}}
        <input id="inputsLogin"  type="number" name="age" required placeholder="AGE"><br>
  </div>
  {{!-- EMAIL --}}
  <div id="loginDiv" class="flex-row-inputs paint-div-input bottom-space">
    <input id="inputsLogin" type="email" name="email" required placeholder="EMAIL"><br>
  </div>
  {{!-- USERNAME --}}
  <div id="loginDiv" class="flex-row-inputs paint-div-input bottom-space">
    <input id="inputsLogin" type="text" name="username" required placeholder="USERNAME"><br>
  </div>
  {{!-- PASSWORD --}}
    <div id="loginDiv" class="flex-row-inputs paint-div-input bottom-space">
    <input id="inputsLogin" type="password" name="password" required placeholder="PASSWORD"><br>
  </div>
<input type="text" name="country" required value="Spain" readonly='readonly' placeholder="country" hidden>

<button class="btn-login" type="submit">SignUp</button>
</form>
{{#if message}}
<p class="blanco-difuminado top-less-space">{{message}}</p>
{{/if}}
</section>
<p class="blanco-difuminado top-less-space noStyle">¿Ya tienes cuenta?<a id="Registrate" class="noStyle" href="/auth/login"> Inicia sesión</a></p>

</section>

