:root {
  --screen-width:     750px;
  --screen-height:    560px;
  --splash-bg-color:  #EEEEEE;
}

.header {
  margin: 10px;
}

.nav__toggle {
  display: inline-block;
  position: absolute;
  z-index: 10;
  padding: 0;
  border: 0;
  background: transparent;
  outline: 0;
  right: 0;
  top: 15px;
  cursor: pointer;
  border-radius: 50%;
}

.nav ul {
  list-style: none;
  display: flex;
  color: black;
  justify-content: space-around;
}

.nav__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  position: relative;
  text-align: left;
  z-index: 5;
  visibility: hidden;
  margin-top: 30px;
}

.nav__item {
  opacity: 0;
  transition: all 0.3s cubic-bezier(0, 0.995, 0.99, 1) 0.3s;
}

.nav__item:nth-child(1) {
  transform: translateY(-40px);
}

.nav__item:nth-child(2) {
  transform: translateY(-80px);
}

.nav__item:nth-child(3) {
  transform: translateY(-120px);
}

.nav__item:nth-child(4) {
  transform: translateY(-160px);
}

.nav__item:nth-child(5) {
  transform: translateY(-200px);
}

.nav__link {
  color: black;
  display: block;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.75rem;
  text-decoration: none;
  padding: 1rem;
  margin-top: 20px;
}

.nav__link:hover, .nav__link:focus {
  outline: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.menuicon {
  display: inline-block;
  cursor: pointer;
  color: black;
  margin-right: 10px;
  transform: rotate(0deg);
}

.menuicon__bar, .menuicon__circle {
  fill: none;
  stroke: black;
  stroke-width: 3;
}

.menuicon__bar {
  transform: rotate(0deg);
  transform-origin: 50% 50%;
  transition: transform .25s ease-in-out;
}

.menuicon__circle {
  stroke-dashoffset: 144.51326;
  stroke-dasharray: 144.51326;
}

.splash {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 1px;
  height: 1px;
}

.splash::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  background-color: var(--splash-bg-color);
  width: 284vmax;
  height: 284vmax;
  top: -142vmax;
  left: -142vmax;
  transform: scale(0);
  transform-origin: 50% 50%;
  transition: transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  will-change: transform;
}

.nav:target > .splash::after,
.nav--open > .splash::after {
  transform: scale(1);
}

.nav:target .menuicon,
.nav--open .menuicon {
  color: white;
  transform: rotate(180deg);
}

.nav:target .menuicon__bar:nth-child(1), .nav:target .menuicon__bar:nth-child(4),
.nav--open .menuicon__bar:nth-child(1),
.nav--open .menuicon__bar:nth-child(4) {
  opacity: 0;
}

.nav:target .menuicon__bar:nth-child(2),
.nav--open .menuicon__bar:nth-child(2) {
  transform: rotate(45deg);
}

.nav:target .menuicon__bar:nth-child(3),
.nav--open .menuicon__bar:nth-child(3) {
  transform: rotate(-45deg);
}

.nav:target .nav__menu,
.nav--open .nav__menu {
  visibility: visible;
}

.nav:target .nav__item,
.nav--open .nav__item {
  opacity: 1;
  transform: translateY(0);
}

.logo {
  color: black;
  text-transform: uppercase;
  align-items: center;
  letter-spacing: 5px;
  font-size: 1.25rem;
  text-decoration: none;
  padding: 1rem;
  margin-top: 18px;
  font-size: 2rem;
}

/*-------------------------------LOGIN & SIGNUP POP UPS----------------------------------------------*/

* {box-sizing: border-box}
/* Full-width input fields */
  input[type=text], input[type=password], input[type=email], input[type=number], select {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  /* display: inline-block; */
  border: none;
  background: #f1f1f1;
}
/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus, select, input[type=email]:focus, input[type=number]:focus {
  background-color: #ddd;
  outline: none;
}
/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
button:hover {
  opacity:1;
}
/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}
/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}
/* Add padding to container elements */
.container {
  padding: 16px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 50px;
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}
.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}
/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
/* signup */
/* The Modal (background) */
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}
/* Modal Content/Box */
.modal-content2 {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close2 {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
/* Close button on hover */
.close2:hover,
.close2:focus {
  color: red;
  cursor: pointer;
}
/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}